<launch>
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
  <arg name="limited" default="true" />
  <arg name="sim" default="false"/>
  <arg name="bush_radius" default="0.15"/>

  <include file="$(find ur5_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>

  <group ns="demo">
  	<include file="$(find ur5_moveit_config)/launch/trajectory_execution.launch.xml"/>
  </group>
  
  <node name="demo" pkg="apple_crusher" type="demo" respawn="false" launch-prefix="$(arg launch_prefix)" output="screen">
    <rosparam command="load" file="$(find ur5_moveit_config)/config/kinematics.yaml"/>
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find ur5_moveit_config)/config/ompl_planning.yaml"/>
		<param name="bush_radius" value="$(arg bush_radius)" type="double" />
  </node>
</launch>
